/* ----------------------------------------
Start NavBer Css 
------------------------------------------*/

.navbar {
    padding: 30px 0px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    &.navbar-three-area {
        position: relative;
        padding: 40px 0px;
        &.sticky {
            background-color: var(--whiteColor);
            box-shadow: 0px 0px 30px rgba(85, 85, 85, 0.09);
            z-index: 999;
            left: 0;
            position: sticky;
            width: 100%;
            transition: var(--transition);
        }
        .navbar-brand {
            padding: 0;
        }
        .navbar-nav {
            .nav-item {
                .nav-link {
                    padding: 5px 0px;
                }
            }
        }
    }
    &.sticky {
        background-color: var(--whiteColor);
        box-shadow: 0px 0px 30px rgba(85, 85, 85, 0.09);
        z-index: 999;
        left: 0;
        position: fixed;
        width: 100%;
        transition: var(--transition);
        padding: 18px 0px;
        .bg-border {
            &::after {
                display: none;
            }
        }
    }
    .container-fluid {
        max-width: 1920px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .bg-border {
        position: relative;
        &::after {
            content: '';
            position: absolute;
            width: 98.3%;
            height: 1px;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            bottom: -31px;
            background-color: #eee690;
        }
    }
    &.toggle-menu-two {
        &.sticky {
            position: fixed;
            background-color: var(--secondaryColor);
        }
        .bg-border {
            &::after {
                display: none;
            }
        }
        .navbar-nav {
            .nav-item {
                display: inline-block;
                .nav-link {
                    padding: 0 0;
                    color: var(--whiteColor);
                }
            }
        }
        .menu-btn {
            border: none;
            font-family: var(--fontFamily);
            font-weight: 500;
            line-height: 30px;
            color: var(--whiteColor);
            font-size: 16px;
            background-color: transparent;
            padding-right: 49px;
            position: relative;
            margin-left: 90px;
            cursor: pointer;
            transition: var(--transition);
            &:hover {
                color: var(--mainColor);
                &::after {
                    background-color: var(--mainColor);
                }
                &::before {
                    background-color: var(--mainColor);
                }
            }
            &::after {
                content: '';
                position: absolute;
                width: 32px;
                height: 2px;
                background-color: var(--whiteColor);
                right: 0;
                top: 40%;
                transform: translateY(-50%);
                cursor: pointer;
                transition: var(--transition);
            }
            &::before {
                content: '';
                position: absolute;
                width: 20px;
                height: 2px;
                background-color: var(--whiteColor);
                right: 11px;
                bottom: 0;
                top: 70%;
                transform: translateY(-50%);
                cursor: pointer;
                transition: var(--transition);
            }
        }
    }
    .navbar-nav {
        .nav-item {
            margin-left: 25px;
            margin-right: 25px;
            &.active {
                .nav-link {
                    color: var(--mainColor);
                    i {
                        color: var(--mainColor);
                    }
                }
            }
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
                .nav-link {
                    padding-right: 0;
                }
            }
            .nav-link {
                padding: 15px 0px;
                font-size: 16px;
                font-weight: 500;
                line-height: 30px;
                font-family: var(--fontFamily);
                color: var(--headingColor);
                transition: var(--transition);
                position: relative;
                &.btn-primary {
                    padding: 0;
                    border: none;
                    background-color: transparent;
                }
                &.active {
                    color: var(--mainColor);
                }
                &.nav-two {
                    padding-right: 0;
                }
                &.dropdown-toggle {
                    &::after {
                        display: none;
                    }
                }
                i {
                    font-size: 16px;
                    color: #292A2F;
                    position: absolute;
                    right: -4px;
                    transition: var(--transition);
                    top: 56%;
                    transform: translateY(-50%);
                    &::before {
                        font-weight: 800 !important;
                    }
                }
                &:hover {
                    color: var(--mainColor);
                    i {
                        color: var(--mainColor);
                    }
                }
            }
            .dropdown-menu {
                background-color: var(--whiteColor);
                padding: 0;
                border: none;
                box-shadow: 0px 0px 30px rgba(85, 85, 85, 0.09);
                border-radius: 0px;
                margin-top: 0;
                width: 250px;
                display: block;
                visibility: hidden;
                opacity: 0;
                transform: translateY(10px);
                transition: var(--transition);
                .dropdown-item {
                    padding: 11px 20px;
                    font-size: 15px;
                    font-weight: 500;
                    font-family: var(--fontFamily);
                    color: #292A2F;
                    &.active {
                        color: var(--mainColor);
                        background-color: transparent;
                    }
                    &:hover {
                        background-color: transparent;
                        color: var(--mainColor);
                    }
                }
                .nav-item {
                    margin-left: 0;
                    margin-right: 0;
                    &.active {
                        .nav-link {
                            color: var(--mainColor);
                            i {
                                color: var(--mainColor);
                            }
                        }
                    }
                    .nav-link {
                        padding: 11px 20px 11px 18px;
                        position: relative;
                        font-size: 16px;
                        color: #292A2F;
                        i {
                            font-size: 18px;
                            right: 20px;
                            color: #292A2F;
                        }
                    }
                    .dropdown-menu {
                        left: 250px;
                        width: 250px;
                        transition: var(--transition);
                        opacity: 0;
                    }
                    &:hover {
                        .nav-link {
                            color: var(--mainColor);
                            i {
                                color: var(--mainColor);
                            }
                        }
                        .dropdown-menu {
                            opacity: 1;
                        }
                    }
                }
            }
            &:hover {
                .dropdown-menu {
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0px);
                }
            }
        }
    }
    .others-options {
        margin-left: 50px;
    }
}

.hidden {
    display: block !important;
}

.shown {
    display: none;
}


/* ----------------------------------------
End NavBer Css 
------------------------------------------*/


/* ---------------------------------------
Start NavBer Responsive Css 
-----------------------------------------*/

@media only screen and (max-width: 767px) {
    .navbar {
        padding: 15px 0px;
        position: relative;
        &.sticky {
            position: sticky;
        }
        &.navbar-three-area {
            padding: 15px 0px;
        }
        &.toggle-menu-two {
            background-color: #2A2A2E;
            position: relative;
            &.sticky {
                position: sticky;
            }
            .navbar-toggler {
                border: 1px solid var(--whiteColor);
                &:focus {
                    box-shadow: none;
                }
                .navbar-toggler-icon {
                    filter: brightness(10);
                }
            }
            .menu-btn {
                display: none;
            }
            .navbar-nav {
                &.shown {
                    display: block;
                }
                .nav-item {
                    display: flex;
                    .nav-link {
                        padding: 5px 0px;
                    }
                }
            }
        }
        .navbar-toggler {
            &:focus {
                box-shadow: none;
            }
        }
        .container-fluid {
            max-width: 540px;
            padding-left: 10px;
            padding-right: 10px;
        }
        .bg-border {
            &::after {
                display: none;
            }
        }
        .logo-1 {
            max-width: 150px;
        }
        .navbar-nav {
            .nav-item {
                margin-left: 0;
                margin-right: 0;
                .nav-link {
                    padding: 5px 0px;
                    font-size: 14px;
                }
            }
        }
        .others-options {
            margin-left: 0;
            margin-top: 20px;
        }
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar {
        padding: 20px 0px;
        position: relative;
        &.sticky {
            position: sticky;
        }
        &.toggle-menu-two {
            background-color: #2A2A2E;
            position: relative;
            &.sticky {
                position: sticky;
            }
            .navbar-toggler {
                border: 1px solid var(--whiteColor);
                &:focus {
                    box-shadow: none;
                }
                .navbar-toggler-icon {
                    filter: brightness(10);
                }
            }
            .menu-btn {
                display: none;
            }
            .navbar-nav {
                &.shown {
                    display: block;
                }
                .nav-item {
                    display: flex;
                    .nav-link {
                        padding: 5px 0px;
                    }
                }
            }
        }
        .navbar-toggler {
            &:focus {
                box-shadow: none;
            }
        }
        &.navbar-three-area {
            padding: 20px 0px;
        }
        .container-fluid {
            max-width: 720px;
            padding-left: 10px;
            padding-right: 10px;
        }
        .bg-border {
            &::after {
                display: none;
            }
        }
        .navbar-nav {
            .nav-item {
                margin-left: 0;
                margin-right: 0;
                .nav-link {
                    padding: 8px 0px;
                    font-size: 15px;
                }
            }
        }
        .others-options {
            margin-left: 0;
            margin-top: 20px;
        }
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .navbar {
        padding: 20px 0px;
        .container-fluid {
            max-width: 960px;
            padding-left: 10px;
            padding-right: 10px;
        }
        &.toggle-menu-two {
            .menu-btn {
                margin-left: 30px;
            }
        }
        .bg-border {
            &::after {
                bottom: -21px;
            }
        }
        .navbar-nav {
            .nav-item {
                margin-left: 20px;
                margin-right: 20px;
                .nav-link {
                    font-size: 14px;
                }
            }
        }
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .navbar {
        padding: 25px 0px;
        .container-fluid {
            max-width: 1140px;
            padding-left: 10px;
            padding-right: 10px;
        }
        .bg-border {
            &::after {
                bottom: -26px;
            }
        }
        .navbar-nav {
            .nav-item {
                margin-left: 20px;
                margin-right: 20px;
            }
        }
    }
}

@media only screen and (min-width: 1400px) and (max-width: 1599px) {}

@media only screen and (min-width: 1600px) and (max-width: 1799px) {}

@media only screen and (min-width: 1600px) {
    .navbar {
        .container-fluid {
            max-width: 1920px;
            padding-left: 150px;
            padding-right: 150px;
        }
    }
}


/* ---------------------------------------
End NavBer Responsive Css 
-----------------------------------------*/